/* CONACTPAGE STYLING */

.Contact * {
  font-family: "Nunito Sans", sans-serif;
  transition: all 500ms ease;

  animation: componrntrenser 1.5s ease;
}
.Contact {
  width: 100%;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
}
.Contact > div {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Contact > div > div {
  width: 40%;
}
.adress {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.adress p {
  margin: 10px 0px;
  padding-right: 15px;
}
.adress h3 {
  margin-top: 1em;
  color: #7464d1;
}
.adress span {
  color: #7464d1;
}
.map {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5em;
}
.map iframe {
  width: 85%;
}
.Contact > h1 {
  height: 30%;
  display: flex;
  align-items: flex-end;
  padding-left: 10%;
  margin: 1em 0px;
  font-size: 3em;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: #501a77;
}
#Enquiry h1 {
  align-self: flex-start;
  margin-left: 12%;
}
.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.form > div {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.form > div > input {
  padding: 7px;
  height: 3em;
  border-radius: 3px;
  outline: none;
  background-color: #f3f4f6;
  border: 1px solid #d1d5db;
}
.form button {
  padding: 12px 24px;
  background-color: #501a77;
  color: white;
  border: none;
  border-radius: 7px;
  margin-top: 3em;
}
#message div * {
  margin: 0%;
}
#message div {
  display: flex;
  gap: 10px;
  align-items: center;
}
#message {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#message textarea {
  height: 8em;
  resize: none;
  padding: 7px;
  border-radius: 3px;
  outline: none;
  background-color: #f3f4f6;
  border: 1px solid #d1d5db;
}

@media only screen and (max-width: 750px) {
  .Contact {
    margin-top: 15vh !important;
  }
  .Contact > div {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    justify-content: center;
  }
  .Contact > div > div {
    width: 85% !important;
  }
  .Contact > h1 {
    width: 100%;
    align-items: center !important;
    justify-content: center;
    padding-left: 0% !important;
    margin: 0.5em 0px !important;
  }
  .form button {
    padding: 12px 24px;
    color: white;
    border: none;
    width: 95%;
    border-radius: 7px;
    margin-top: 1.5em !important;
  }
  .map iframe {
    width: 100%;
  }
}
