.onetestimonial:hover {
  transform: scale(1.1);
}
.onetestimonial {
  width: 20em;
  min-height: 30em;
  display: flex;
  padding: 10px;
  color: #223645;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 1px 10px black;
  border-radius: 10px;
  margin: 25px;
  align-items: center;
  transition: all 500ms ease;
}
.onetestimonial i {
  font-size: 4em;
  align-self: flex-end;
  color: #7853ce;
}
.onetestimonial img {
  height: 9em;
  width: 9em;
  border: 5px solid #223645;
  object-fit: cover;
  border-radius: 50%;
}
.onetestimonial p {
  margin: 10px;
  font-size: 1.1em;
  text-align: center;
}
.onetestimonial h3 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  margin-top: auto;
  font-size: 1.9em;
}
.onetestimonial h4 {
  font-family: "Relfont";
  text-transform: uppercase;
  font-size: 1.3em;
}

#Testimonials *:not(.header) {
  animation: componrntrenser 1.5s ease;
  transition: all 500ms ease;
}
#Testimonials {
  margin-top: 18vh;
  background-color: #fff8e3;
  width: 100%;
}
#Testimonials .header {
  width: 100%;
  min-height: 40vh;
  background: url("/public/assets/Images/Testimonials/testimonialbg.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  box-shadow: inset 0 0 1000px 250px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5em;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

#Testimonials h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  width: 100%;
  font-size: 3rem;
  text-align: center;
  margin: 20px 0px;
  margin-top: 30px;
  color: #223645;
}
#Testimonials .header h1 {
  color: white;
}

#Testimonials h2 {
  font-family: "Relfont";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0px;
  position: relative;
}

.line {
  margin: 0% 10px;
  height: 3px;
  width: 20px;
  background-color: red;
}

.all-testimonialdiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  background: none;
}

.OurGallery {
  width: 90%;
}
@media screen and (max-width: 500px) {
  #Testimonials .header {
    font-size: 3em;
  }
  #Testimonials {
    margin-top: 12vh;
  }
}

.TestimonialSSwiper .swiper {
  width: 100%;
  height: 100%;
}

.TestimonialSSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.TestimonialSSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#OurGallery {
  overflow: hidden !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4em;
}
.corausol {
  height: 85vh;
  position: relative;
  background-color: white;
  width: 90%;
  display: flex;
  overflow: hidden;
}
.prev,
.next {
  position: absolute;
  z-index: 9;
  padding: 15px;
  background-color: rgba(146, 143, 137, 0.403);
  border-radius: 30px;
}

.prev {
  top: 50%;
  left: 5%;
}
.next {
  top: 50%;
  right: 5%;
}
.corausol > div {
  transition: all ease 0.5s;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}
.corausol > div img {
  height: 100%;
  box-shadow: inset -150px 0px 109px -14px white;
  width: 100%;
  object-fit: contain;
}
