#UniqueFeature * {
  transition: all 500ms ease-in-out;

  animation: componrntrenser 1.5s ease;
}
#UniqueFeature {
  margin-top: 18vh;
  width: 100%;
  background-color: #fff0e3;
}

.breadcrumb {
  width: auto;
  padding: 10px 17%;
  font-size: 18px;
  background-color: #fff8e3;
  box-shadow: 0.5px 0px 10px black;
}
#UniqueFeature .section1 {
  width: 100%;
}
#UniqueFeature .section1 > div {
  max-width: 75rem;
  margin: 3em auto;
  background-color: white;
  box-shadow: 0.1px 0.1px 10px black;
  border-radius: 10px;
  padding: 2em;
}

#UniqueFeature .section1 h1 {
  font-size: 400%;
  color: #4d4d4d;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
#UniqueFeature .section1 h3 {
  color: #053c8f;
  margin: 15px 0px;
  font-size: 150%;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

#UniqueFeature .section1 > div > div {
  display: flex;
  justify-content: space-evenly;
}
#UniqueFeature .section1 > div > div > div {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
}
#UniqueFeature .section1 > div > div * {
  font-size: 20px;
  font-weight: 100 !important;
}
#UniqueFeature .section1 > div > div video {
  height: max-content;
  object-fit: cover;
}
#UniqueFeature .section1 > div > div img {
  width: 100%;
  border-radius: 7px;
}

#UniqueFeature .section2 {
  background-color: #2d9596;
  padding: 3em 2em;
}

#UniqueFeature .section2 > div {
  max-width: 78rem;
  display: flex;
  justify-content: space-between;
  margin: 0rem auto;
  color: white;
}
#UniqueFeature .section2 > div > * {
  width: 48%;
}

#UniqueFeature .section2 > div p {
  font-size: 18px;
}
#UniqueFeature .section2 > div h1 {
  font-size: 250%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  margin-bottom: 10px;
  font-style: normal;
}
@media screen and (max-width: 1100px) {
  .breadcrumb {
    width: auto;
    padding: 10px 2em;
  }
  #UniqueFeature {
    margin-top: 12vh;
  }

  #UniqueFeature .section1 > div {
    margin: 3%;
  }
  #UniqueFeature .section1 > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #UniqueFeature .section1 > div > div > div {
    width: 100%;
  }

  #UniqueFeature .section1 h1 {
    font-size: 300%;
  }
  #UniqueFeature .section2 > div {
    flex-direction: column;
    gap: 15px;
  }
  #UniqueFeature .section2 > div > * {
    width: calc(100% - 2em);
  }
}
